@import "../../assets/style/abstracts/variables";
.form-select {
  font-size: 16px !important;
}
@media (max-width: 768px) {
  .del-btn {
    display: block !important;
  }
  .del-icon {
    display: none;
  }
}
.modal-title {
  font-size: 1.2rem !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
