@import "../../assets/style/abstracts/variables";
@import "../../assets/style/utilities";

.cardItem {
  &:hover .cardBtns {
    display: flex !important;
  }
}
.iconBtn {
  border: none;
  outline: none;
  cursor: pointer;
  color: $whiteColor;
  font-size: 20px;
  padding: 10px;
  background-color: $mainColor;
  border-radius: 50%;
  &:hover {
    background-color: $secondryColor;
    color: $mainColor;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: rgb(155, 153, 153);
    &:hover {
      background-color: rgb(155, 153, 153);
      color: $whiteColor;
    }
  }
}
.modalDialog {
  padding-bottom: 20px;
  .starRating {
    padding: 0 0.5rem 0.5rem;
  }
  .exitBtn {
    cursor: pointer;
    z-index: 100;
  }
}
