@import "../abstracts/variables";
.responsiveTable {
  width: 85%;
  border-collapse: collapse;
  margin: 50px auto;
  th {
    background: $mainColor;
    color: $whiteColor;
    font-weight: 500;
  }
  td,
  th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
  }
  @media (max-width: 1024px) {
    & {
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    &,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid #ccc;
    }
    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }
    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(data-column);
      color: #000;
      font-weight: 500;
    }
  }
}
