@import "../../assets/style/abstracts/variables";
.inputLabel {
  font-size: 16px;
  color: #666;
  font-weight: 500;
}
.inputField {
  border: none;
  outline: none;
  border: 1px solid #e5e5e5;
  line-height: 1.5;
  padding: 9px 12px;
  &:focus {
    border-color: #bbb;
  }
}
